body {
    background-image: linear-gradient(#3b585d,#1d282a);
    height: 100vh;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;

}

#below-cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0 1em 0;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bt {
    font-size: 1.5em;
}

.bt-nav {
    font-size: 3em;
}

.bt-big {
    font-size: 4em;
}

#cover {
    width: 300px;
    height: 300px;
}

#playlist-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
}

#song-name {
    font-size: 1.5rem;
    font-weight: bolder;
}

.light-color {
    color: #88999c;
}

#progress-bar {
    background-color: #88999c;
    width: 100%;
    height: 5px;
    border-radius: 15px;
}

#current-progress {
    --progress: 0%;
    background-color: #fff;
    width: var(--progress);
    height: inherit;
    border-radius: 15px;
}

#progress-container {
    cursor: pointer;
}

.bt-active {
    color: rgb(8, 182, 8);
}

#time-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: smaller;
    margin-top: .3em;
}